@import '../../styles/variaveis';

.form {   
    align-items: center;
    background-color: $branco;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem 0rem;
    width: 80%;
}
.form__title{
    color: $preto;
    font-size: 36px;
}

.form__input, .form__select__departamento{
    background-color: $cinza;
    border-style: none;
    padding: 0.5rem 1rem;
    width: 80%;
}
.form__label{
    align-self: flex-start;
    color: $preto;
    font-size: 24px;
    margin-left: 10%;
}
.button__adicionar{
    border-style: none;
    background-color: $preto;
    color: $branco;
    font-size: 36px;
    padding: 1rem 2rem;
}
