@import '../../styles/variaveis';

.produto{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    padding: 10% 0%;
    min-width: 100vw;
}
//Imagem
.produto__imagem__container{
    width: 35%;
}
.produto__imagemProduto{
    width: 100%;
}

//Descrição
.produto__descricao{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.produto__descricao__text{
    font-size: 48px;
    font-weight: 400;
    color: $main__produto__text--color;
}
.produto__descricao__text--titulo{
    align-self: center;
}
